In [1]:
import numpy as np
from numpy import random
from random import randint
import pickle
import pandas as pd

In [18]:
x = pd.read_csv('test_i.csv')

In [20]:
x[x['repetition'] == 5].head()

     iteration       area  repetition
240          1  12.566371           5
241          2   6.339734           5
242          3   4.144389           5
243          4   3.240867           5
244          5   2.789734           5